<%- include ("top.ejs") %>

<style>
  body {
      background-color: rgb(26, 26, 30);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }

  .form-control, .form-group label, .btn, .input-group select {
      background-color: black;
      color: rgb(160, 159, 159);
      border: 1px solid rgb(29, 28, 28);
  }

  .btn-primary {
      background-color: #8239E9;
  }

  .btn-secondary {
      background-color: #e62323;
  }

  .btn {
      color: white;
  }

  .btn-success {
      background-color: #06580a;
  }

  .alert.alert-danger {
      background-color: red;
      color: white;
  }

  .container {
      width: 100%;
      max-width: 400px;
  }
</style>

<div class="container">
  <form action="/login" method="POST">
    <div class="form-group mt-4 mb-3">
      <label for="name">UserName</label>
      <input type="text" name="name" class="form-control" placeholder="Nome de Usuário" />
    </div>

    <div class="form-group mt-4 mb-3">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" placeholder="Digite sua senha" />
    </div>
    <input type="submit" value="Login" class="btn btn-primary mb-3" />
  </form>

  <% if(message){ %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% } %>

  <p>
    <a href="/forgot">Esqueceu senha?</a> | <a href="/users/new">Não possuiu Cadastro?</a>
  </p>
</div>

<%- include("bottom.ejs") %>
